<!-- 7. ANALYTICAL REPORTS COMPONENT VIEW -->
            <div id="view-reports" class="app-view">
                <div class="card ep-card p-4 bg-white mb-4">
                    <h4 class="fw-bold mb-4">Deep Metrics Engine Data Output</h4>
                    <div class="row g-4">
                        <div class="col-12 col-md-6">
                            <h6 class="fw-bold text-secondary mb-3">Historical Monthly Transmission Metrics Rate</h6>
                            <div style="position: relative; height: 260px;"><canvas id="chartReportMonthly"></canvas></div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6 class="fw-bold text-secondary mb-3">System Delivery Success Success Ratio Overview</h6>
                            <div style="position: relative; height: 260px;"><canvas id="chartReportRatio"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 8.