# Django Settings Configuration
SECRET_KEY=generate_your_own_secure_key_here
DEBUG=False
ALLOWED_HOSTS=your-app-name.onrender.com,localhost,127.0.0.1

# Database Connection (Supabase Transaction Pooler String)
DATABASE_URL=postgresql://postgres.[your-project-ref]:[your-password]@aws-0-[your-region].pooler.supabase.com:6543/postgres?sslmode=require
# SMTP Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=ceerasinternshipteama@gmail.com
EMAIL_HOST_PASSWORD=vxnmaqvtpsjrmlsc
DEFAULT_FROM_EMAIL=ceerasinternshipteama@gmail.com
